.container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px */
    justify-content: space-around;
  }
  .card {
    background-color: #343432;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20%;
    display: flex ;
    flex-direction: column;
    gap: 4px;
  }
 .currencyimg {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .currencySymbol {
    padding: 5px;
    background-color: rgb(94,248,52);
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
 }

 .currencyRate {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
 }

 @media (max-width: 768px) {
    .card {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .currencySymbol {
      font-size: larger;
    }
  
    .currencyRate {
      font-size: smaller;
    }
  }